@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h1> A bit about the blog</h1>
    This blog will outline my experience through the Xero Vacation Program
</p>
